body {
  display: flex;
  margin: 0;
  position: relative;
  background-color: #20293a;
  height: auto;
}

.img-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-image: url("../src/images/hero-image-github-profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  display: flex;
  width: 100%;
  height: auto;
  z-index: 100;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.container-searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2000;
  width: 100%;
  height: 250px;
}

.panel-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #20293a;
}

.panel-all {
  height: auto;
}

.container-svg-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  padding-left: 20px;
  width: 450px;
  height: 55px;
  background-color: #20293a;
  border-radius: 15px;
}

.input-search {
  margin-left: 10px;
  width: 400px;
  background-color: #20293a;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  font-size: 17px;
  color: #cdd5e0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.focus-input {
  border: 2px solid #3662e3;
}

.container-svg-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: opacity 0.3s, transform 0.3s;
}

.container-svg-search:hover {
  opacity: 0.6;
  transform: translate(2px);
}

.container-presentation {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 75%;
  height: 23vh;
  z-index: 5000;
}

.container-repositories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  height: auto;
}

.followers-location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 75%;
  height: 8vh;
  margin-left: 60px;
}

.bio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 18vh;
}

.img-user {
  width: 110px;
  height: 110px;
  position: absolute;
  z-index: 6000;
  top: -45px;
  left: 0;
  border: 7px solid #20293a;
  border-radius: 15px;
}

.container-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 14px;
  color: #4a5567;
  padding: 20px;
  margin-top: 10px;
  width: auto;
  height: 8px;
  background-color: #111729;
  border-radius: 15px;
}

.items {
  display: flex;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  align-items: center;
  height: 35px;
  width: auto;
  border-left: 1.5px solid #4a5567;
  margin-left: 15px;
  padding-left: 15px;
  color: #cdd5e0;
  font-size: 14px;
}

.name-user {
  color: #cdd5e0;
  font-size: 2.2rem;
  padding-top: 15px;
  padding-bottom: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.bio-user {
  color: #738091;
  font-size: 1rem;
  padding-top: 0;
  margin-top: 10px;
  padding-bottom: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.div-bio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 120px;
}

.repos {
  display: flex;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 20px;
  width: 390px;
  height: auto;
  background: linear-gradient(to right, #111729, #1d1b48);
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-nameRepo {
  display: flex;
  justify-content: flex-start;
  font-size: 1.3rem;
  color: #cdd5e0;
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

.container-description {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  color: #738091;
  padding: 0;
  margin: 0;
}

.container-puntuaciones {
  display: flex;
  width: 100%;
  color: #738091;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.container-svgMit {
  display: flex;
  color: #738091;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.svgMit {
  padding-right: 3px;
}

.container-forks {
  display: flex;
  color: #738091;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-stargazers {
  display: flex;
  color: #738091;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container-updated {
  display: flex;
  color: #738091;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding-top: 2px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.button-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: #738091;
  font-family: "Be Vietnam Pro", sans-serif;
  border-radius: 15px;
  background-color: transparent;
  font-weight: 600;
  font-size: 0.9rem;
  border: none;
}

.button-all:hover {
  opacity: 0.6;
  transform: translate(2px);
}

.user-not-found {
  color: #cdd5e0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 3rem;
}

@media (min-width: 1280px) {
  .panel-main {
    width: 1200px;
  }
}

@media (max-width: 1279px) {
  .panel-main {
    width: 100%;
  }

  .container-repositories {
    width: 820px;
  }

  .container-presentation {
    width: 820px;
  }

  .repos {
    width: 360px;
  }
}

@media (max-width: 1000px) {
  .panel-main {
    width: 470px;
  }

  .container-presentation {
    width: 470px;
    height: auto;
  }

  .followers-location {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 0;
  }

  .div-bio {
    margin-top: 0;
  }

  .container-repositories {
    width: 470px;
  }

  .repos {
    width: 470px;
  }
}

@media (max-width: 500px) {
  .panel-main {
    width: 280px;
  }

  .container-presentation {
    width: 280px;
    height: auto;
  }

  .div-bio {
    height: auto;
  }

  .followers-location {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 0;
    gap: 0;
  }

  .div-bio {
    margin-top: 0;
  }

  .container-repositories {
    width: 290px;
  }

  .repos {
    width: 280px;
  }

  .input-search {
    width: 250px;
  }
}
